<div id="wrapper">
  <sidebar></sidebar>
    <div id="page-content-wrapper">
        <div class="container">
            <videoView [youtubeUrl]="youtubeUrl"></videoView>  
            <footer class="thin">
                <div class="container">
                    <p>Developed with the <i class="fas fa-heart"></i> by <a href="https://portifolioaugusto.000webhostapp.com/" class="ftLink" target="_blank">Augusto Moraes</a></p>
                </div>
            </footer>             
        </div> 
    </div>
</div>