<!-- Sidebar -->
<div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    History & Bookmarks
                </a>
            </li>
            <li>
                <a href="#bookmarksSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Bookmarks</a>
                <ul class="collapse list-unstyled" id="bookmarksSubmenu">
                    <bookmarks></bookmarks>
                </ul>
            </li>
            <li>
                <a href="#historySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">History</a>
                <ul class="collapse list-unstyled" id="historySubmenu">
                    <history></history>
                </ul>
            </li>
        </ul>
    </div>