.thin{
    background-color: #4d0000;
    color: white;
    text-align: center;
    font-size: 15px;
    border-bottom-left-radius: 2.003%;
    border-bottom-right-radius: 2.003%;
    border-bottom-color: #4d0000;
}
.fa-heart{
    font-size: 11.9px;
    color: red;
    margin-left: 4px;
    margin-right: 4px;
}
.ftLink{
    color: red
}
.ftLink:hover{
    color: rgb(160, 0, 0);
}